.navigation {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;

  .catalog {
    &:link, &:visited {
      background-color: #ffc107;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;

      &:hover, &:active {
        background-color: #dba400;
      }
    }
  }
}